@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
    --font-mono: "JetBrains Mono", ui-monospace, monospace;
    --font-sans: "Inter", ui-sans-serif, system-ui;
}

@theme {
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: var(--font-sans);

    position: relative;
    overflow-x: hidden;

    cursor: url('/cursor1.png'), auto;
}

body::before {
    content: "";
    position: fixed; /* or absolute */
    inset: 0;
    pointer-events: none;
    opacity: 0.1;

    background-image:
        linear-gradient(rgba(255, 255, 255, 0.6) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.6) 1px, transparent 1px);

    background-size: 42px 42px;

    z-index: -1; /* Behind the page content */
}

/* main {
  @apply w-full overflow-x-hidden;
}

a {
    @apply cursor-pointer text-nowrap md:text-base text-sm;
}

ul {
    @apply flex-center lg:gap-12 gap-7;
} */

@utility flex-center{
    @apply flex justify-center items-center;
}