@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import "tailwindcss";






html,
body {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Rubik Mono One','Roboto', 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

/* main {
  @apply w-full overflow-x-hidden;
}

a {
    @apply cursor-pointer text-nowrap md:text-base text-sm;
}

ul {
    @apply flex-center lg:gap-12 gap-7;
} */

@utility flex-center{
    @apply flex justify-center items-center;
}